@charset "ISO-8859-1";

.menu-container{
	display:flex;
	flex-direction:row;
	padding:20px;
	justify-content: space-evenly;
	
}
.title{
	margin-bottom:40px;
	font-family: 'Work Sans', sans-serif;
	color:#363636;
	text-align:center;
}

.btn-link{
	width:500px;
	color:#0096FF;
	padding:13px;
	border-radius:4px;
	border:solid 1px #0096FF;
	text-align:center;
	font-family: 'Work Sans', sans-serif;
	margin-top:30px;
}
.btn-link:hover{
	transition: all 0.5s;
	background-color:#0096FF;
	text-decoration:none;
	color:white;
	
}
.func-options{
	display:flex;
	flex-direction:column;
}

.cli-options{
	display:flex;
	flex-direction:column;
}
.btn-link-option {
	width:500px;
	color:#0096FF;
	padding:13px;
	border-radius:4px;
	font-size:18px;
	text-align:center;
	font-family: 'Work Sans', sans-serif;
	
}

